@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #f1f3f5;
  --foreground: #171717;
}

html {
  background-color: white;
}

body {
  width: 390px;
  padding: 0 20px 8px 20px;
  margin: 0 auto;
  background-color: var(--background);
  height: 100%;
  min-height: 100vh;
  font-family: "Pretendard-Regular";
}

@font-face {
  font-family: "Pretendard-Semibold";
  src: url("../fonts/Pretendard-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("../fonts/Pretendard-Regular.otf") format("opentype");
}
